-- Check current slug for the restaurant
SELECT id, name, slug FROM restaurants WHERE id = 'fc47f2a8-5d9c-4548-88d8-463da7079bb8';

-- If still invalid, run the update
UPDATE restaurants 
SET slug = CASE 
    WHEN generate_slug(name) = '' THEN 'restaurant-' || id::TEXT
    ELSE generate_slug(name) || '-' || id::TEXT
END
WHERE id = 'fc47f2a8-5d9c-4548-88d8-463da7079bb8';
