CREATE OR REPLACE FUNCTION generate_slug(name TEXT)
RETURNS TEXT
LANGUAGE plpgsql
AS \$\$
BEGIN
    RETURN trim(both '-' from regexp_replace(
        regexp_replace(
            lower(name),
            '[^a-z0-9ا-ي\s-]',
            '', 'g'
        ),
        '\s+',
        '-', 'g'
    ));
END;
\$\$; 

-- Update auto_create_restaurant to handle empty slugs
-- Add after v_slug := generate_slug(p_restaurant_name);
-- IF v_slug = '' OR v_slug IS NULL THEN
--     v_slug := 'restaurant-' || EXTRACT(epoch FROM NOW())::TEXT;
-- END IF;
-- (Already updated in the file)

-- Update the existing restaurant slug
UPDATE restaurants SET slug = 'مطعم-تجريبي' WHERE id = 'fc47f2a8-5d9c-4548-88d8-463da7079bb8';
