-- Set a simple English slug for testing
UPDATE restaurants SET slug = 'test-menu' WHERE id = 'fc47f2a8-5d9c-4548-88d8-463da7079bb8';

-- Check if it works, then we can make it permanent with a better slug generation
