-- Temporary test: set slug to English to check if Arabic in URL is the issue
UPDATE restaurants SET slug = 'test-menu' WHERE id = 'fc47f2a8-5d9c-4548-88d8-463da7079bb8';

-- If it works, then the issue is Arabic characters in URL
-- To fix permanently, we need to make slug English-only or handle encoding

-- Alternative: Make slug shorter without full ID
UPDATE restaurants SET slug = generate_slug(name) WHERE id = 'fc47f2a8-5d9c-4548-88d8-463da7079bb8';
