CREATE OR REPLACE FUNCTION generate_slug(name TEXT)
RETURNS TEXT
LANGUAGE plpgsql
AS \$\$
BEGIN
    RETURN trim(both '-' from regexp_replace(
        regexp_replace(
            lower(name),
            '[^a-z0-9ا-ي\s-]',
            '', 'g'
        ),
        '\s+',
        '-', 'g'
    ));
END;
\$\$; 
