-- Update all restaurants with invalid slugs, ensuring uniqueness
UPDATE restaurants 
SET slug = CASE 
    WHEN generate_slug(name) = '' THEN 'restaurant-' || id::TEXT
    ELSE generate_slug(name) || '-' || id::TEXT
END
WHERE slug LIKE '--%' OR slug = '' OR slug IS NULL;

-- Alternative: If you want shorter slugs, use this instead (but may have duplicates)
-- UPDATE restaurants 
-- SET slug = CASE 
--     WHEN generate_slug(name) = '' THEN 'restaurant-' || EXTRACT(epoch FROM created_at)::TEXT
--     ELSE generate_slug(name)
-- END
-- WHERE slug LIKE '--%' OR slug = '' OR slug IS NULL;

-- Then run the uniqueness fix
-- UPDATE restaurants 
-- SET slug = slug || '-' || EXTRACT(epoch FROM created_at)::TEXT
-- WHERE slug IN (
--     SELECT slug FROM restaurants GROUP BY slug HAVING COUNT(*) > 1
-- ) AND slug NOT LIKE '%-%';
