-- Update all restaurants with invalid slugs (starting with '--' or empty)
UPDATE restaurants 
SET slug = CASE 
    WHEN generate_slug(name) = '' THEN 'restaurant-' || EXTRACT(epoch FROM created_at)::TEXT
    ELSE generate_slug(name)
END
WHERE slug LIKE '--%' OR slug = '' OR slug IS NULL;

-- Ensure uniqueness by appending timestamp if needed
UPDATE restaurants 
SET slug = slug || '-' || EXTRACT(epoch FROM created_at)::TEXT
WHERE slug IN (
    SELECT slug FROM restaurants GROUP BY slug HAVING COUNT(*) > 1
);
